.nav{
    background-color:#f9f9fa;
padding: 20px 50px;
border-top:1px solid rgba(214, 209, 209, 0.644);
position: fixed;
bottom: 0;
width: 100%;
box-sizing: border-box;
}

.nav__list{
    display:flex;
    justify-content:space-between

}

.nav__link{
    color: #2e363e;
    position: relative;
}
.nav__notification{
    background-color: tomato;
    width: 20px;
    height: 20px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9fa;
    font-weight: 600;
    position: absolute;
    right: -4px;
    bottom: 16px;
}
.nav__dot{
    background-color: tomato;
    display: flex;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    justify-content: center;
    align-items: center;
    left: 40px;
    top: -20px;
    position: absolute;
}